.footer {
    width: 100%;
    background: #707070;
    border-top: solid 1px #606060;
    width: 100%;
    height: 60px;
    padding: 2% 0 4% 0;
	position: relative;
    box-sizing: border-box;
    color: #222;
}

.footerMenu { display: block; }

.footerMenu li {
    float: right;
    padding-right:30px;
    font-size: 17px;
}

.footerMenu li a { color: #222; }
