.news ul {
  padding: 20px 5%;
  color: #222;
  font-size: 16px;
}
.newspaper { 
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.article { 
  padding: 5%;
  margin-bottom: 5%;
  border: solid #fff 1px;
}
.title { 
  font-size: 20px;
  color: #222;
  margin-bottom: 2%;
}
.author { 
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding-left: 5%;
  margin-bottom: 3%;
}
.image { 
  width: 100%;
  border: solid #222 2px;
}
.article,
.image {
  border-radius: 2px;
}
.description { 
  margin-top: 2%;
  text-align: justify;
}