@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400,600,700,800|PT+Sans:400,700|Roboto:400,500,700,900|Ubuntu:400,500,700');

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  background-color: #ccc;
}

*{ 
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}

li { list-style: none; }
a { text-decoration: none; }

/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/
